<template>
  <div id="app">
    <router-view/>
  </div>
</template>

<script>
export default {
  components: {
    
  }
}
</script>

<style lang="scss">
// Css Reset
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	vertical-align: baseline;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}

body {
	line-height: 1;
}

ol, ul {
	list-style: none;
}

blockquote, q {
	quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

// == Global css ==

* {
  box-sizing: border-box;
  font-weight: 400;
}

html,
body {
  height: 100vh;
  font-family: 'Lato', sans-serif;
  font-size: 16px;
}

#app {
  height: 100%;
  width: 100%;
}

// == Animation ==

.fade-enter-active, .fade-leave-active {
  transition: opacity .3s;
}
.fade-enter,
.fade-leave-to,
.fade-leave-active {
  opacity: 0;
}

</style>