<template>
  <div class="home">
    <h1 class="welcome">Welcome to ShipperHQ</h1>
  </div>
</template>

<script>

export default {
  name: 'Home',
}
</script>

<style lang="sass">
.home
  text-align: center
  width: 100%
  .welcome
    margin-top: 340px
    font-size: 40px
</style>