<template>
    <div>
        <PageHeader>
            <h1>Origins</h1>
            <PrimaryButton label="new" :route="this.$router.currentRoute.path + '/new'" />
        </PageHeader>
        <ResponseMessage />
        <OriginsTable/>
    </div>
</template>

<script>
import PageHeader from '@/components/PageHeader'
import PrimaryButton from '@/components/Buttons/PrimaryButton'
import ResponseMessage from '@/components/ResponseMessage'
import OriginsTable from '@/components/OriginsTable'

export default {
    name: "origins",

    components: {
        PageHeader,
        PrimaryButton,
        ResponseMessage,
        OriginsTable
    },
}
</script>

<style lang="sass" scoped>
.page-header
    border-bottom: solid 1px #eee
</style>