<template>
    <div>
        <PageHeader>
            <h1>Website: </h1>
        </PageHeader>
        <ConfigurationForm>
            <template v-slot:title>
                Website:
            </template>

            <template v-slot:options>
                <div>
                    <h2>Website Overview</h2>
                    <h3>Information about your website/store.</h3>
                    <label>Website URL</label>
                    <input type="url" v-model="form.url" required>
                    <label>Website Name</label>
                    <input type="text" v-model="form.name" required>
                    <label>Internal Description</label>
                    <textarea v-model="form.description"></textarea>
                </div>
            </template>
        </ConfigurationForm>
    </div>
</template>

<script>
import PageHeader from '@/components/PageHeader'
import ConfigurationForm from '@/components/ConfigurationForm'
import { mapActions } from 'vuex'

export default {
    name: "websites-edit",

    data() {
        return {
            id: "",
            form: {
                url: "",
                name: "",
                description: "",
            }
        }
    },

    methods: {
        ...mapActions('crud', [
            'update',
            'read'
        ]),

        submit() {
            this.update(`websites/${this.id}`, this.form).then(() => {
                this.$router.push({ name: "websites" })
            }) 
        }
    },

    mounted() { // Get single website item's data 
        let id = this.$route.params.id
        this.read(`websites/${id}`).then((response) => {
            console.log('response:', response)
            this.id = response.id
            this.form.url = response.url
            this.form.name = response.name
            this.form.description = response.description
        })
    },

    components: {
        PageHeader,
        ConfigurationForm
    }
}
</script>