<template>
    <div>
        <PageHeader>
            <h1>Website:</h1>
        </PageHeader>
        <WebsitesNewForm />
    </div>
</template>

<script>
import PageHeader from '@/components/PageHeader'
import WebsitesNewForm from '@/components/WebsitesNewForm'

export default {
    name: "VWebsitesNew",

    components: {
        PageHeader,
        WebsitesNewForm
    }
}
</script>