<template>
    <div>
        <PageHeader>
            <h1>Websites</h1>
            <PrimaryButton label="new" :route="this.$router.currentRoute.path + '/new'" />
        </PageHeader>
        <ResponseMessage />
        <WebsitesTable/>
    </div>
</template>

<script>
import PrimaryButton from '@/components/Buttons/PrimaryButton'
import PageHeader from '@/components/PageHeader'
import ResponseMessage from '@/components/ResponseMessage'
import WebsitesTable from '@/components/WebsitesTable'

export default {
    name: "websites",

    components: {
        PageHeader,
        PrimaryButton,
        ResponseMessage,
        WebsitesTable
    },
}
</script>

<style lang="sass" scoped>
.page-header
    border-bottom: solid 1px #eee
</style>