<template>
  <div class="dashboard">
    <DashboardNavigation />
    <DashboardView />
  </div>
</template>

<script>
import DashboardNavigation from '@/components/DashboardNavigation'
import DashboardView from '@/components/DashboardView'

export default {
  name: 'DashboardHome',

  components: {
    DashboardNavigation,
    DashboardView
  }
}
</script>

<style lang="scss" scoped>
.dashboard {
  display: flex;
  height: 100vh;
}
</style>
