<template>
  <div class="login">
    <form @submit.prevent="submit" class="auth-form">
      <div class="auth-form__header">
        <h1>ShipperHQ</h1>
        <h2>Sign In</h2>
      </div>
      <template v-if="authError">
        <div class="auth-form__error">
          {{ authError }}
        </div>
      </template>
      <div class="auth-form__section">
        <input type="email" name="email" id="email" placeholder="Email.." v-model="form.email" required>
      </div>

      <div class="auth-form__section">
        <input type="password" name="password" id="password" placeholder="Password.." v-model="form.password" required>
      </div>

      <div class="auth-form__section">
        <button type="submit">Sign in</button>
      </div>
    </form>
  </div>
</template>

<script>

import { mapGetters, mapActions } from 'vuex'

export default {
  name: 'signin',
  components: {
  },

  data() {
    return {
      form: {
        email: '',
        password: ''
      },
    }
  },

  computed: {
    ...mapGetters({
        isAuth: 'auth/isAuth',
        authError: 'auth/authError'
    })
  },

  methods: {
    ...mapActions({
      signIn: 'auth/signIn',
    }),

    submit() {
      console.log(this.form)
      this.signIn(this.form).then(() => {
        if (this.isAuth) {
          this.$router.replace({
            name: 'dashboard'
          })
        }
      })
    }
  }
}
</script>

<style lang="scss" scoped>
.login {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.auth-form {
  text-align: center;
  &__error {
    color: #EF1414
  }
    
  &__header {
    h1 {
      font-size: 20px;
    }
    h2 {
      font-size: 30px;
      color: #727272;
      margin: 10px 0 40px 0;
    }
  }

  &__section {
    margin: 20px 0;
    input {
      border: solid 1px #E5E5E5;
      padding: 10px 20px;
      font-size: 16px;
      &:hover,
      &:focus {
        border-color: #8BF7FF;
      }
    }
    button {
      cursor: pointer;
      background: #F77746;
      color: #fff;
      border: none;
      padding: 20px 40px;
      font-size: 16px;
      &:hover {
        background: rgb(195, 76, 29);
      }
    }
  }
}

</style>