<template>
    <router-link
    tag="button" 
    :to="route" class="button--primary">
        {{ label }}
    </router-link>
</template>

<script>
export default {
    name: "PrimaryButton",

    props: {
        route: {
            type: String,
            required: true
        },
        label: {
            type: String,
            required: false
        }
    },
}
</script>

<style lang="sass" scoped>
.button--primary
    border: none
    background: none
    cursor: pointer
    font-size: 16px
    font-family: 'Lato', sans-serif
    text-transform: capitalize
    background: #f77746
    color: #fff
    border-radius: 100px
    padding: 10px 20px
    transition: .3s
    &:hover,
    &:focus
        background: #ff4d24
        box-shadow: 0 1px 10px -3px rgba(0, 0, 0, .2)
</style>