<template>
    <BaseButton modifier="secondary">
        
    </BaseButton>
</template>

<script>
import BaseButton from '@/components/Buttons/BaseButton'

export default {
    name: "",
    components: {
        BaseButton
    }
}
</script>

<style lang="stylus" scoped>

</style>