<template>
    <button type="submit" class="button--submit">
        <slot></slot>
    </button>
</template>

<style lang="sass" scoped>
.button--submit
    border: none
    background: #00aae5
    cursor: pointer
    font-size: 16px
    font-family: 'Lato', sans-serif
    background: #00aae5
    border-radius: 3px
    color: #fff
    padding: 5px 10px
</style>