<template>
    <form class="configuration-form" @submit.prevent="submit">
        <div class="errors">
            {{ errors }}
        </div>
        <span class="configuration-form__header">
            <slot name="header"></slot>
        </span>
        <div class="configuration-form__sections">
            <slot name="options"></slot>
            <SubmitButton>Save</SubmitButton>
        </div>
    </form>
</template>

<script>
import { mapGetters } from 'vuex'
import SubmitButton from '@/components/Buttons/SubmitButton'

export default {
    name: "ConfigurationForm",

    computed: {
        ...mapGetters('crud', {
            errors: 'getErrors'
        })
    },

    methods: {
        submit() {
            this.$parent.submit()
        }
    },

    components: {
        SubmitButton
    }
}
</script>

<style lang="sass" scoped>
label
    display: block
    font-weight: 600
    font-size: 13px
    line-height: 15px
    margin: 20px 0 4px 0
input,
textarea
    width: 100%
    display: block
    font-family: Arial
    padding: 6px 12px
    font-size: 14px
    border-radius: 3px
    vertical-align: middle
    border: solid 1px #ccc
    margin: 0
    &:focus
        border-color: #66afe9;
        box-shadow: inset 0 1px 1px rgba(0,0,0,0.075), 0 0 8px rgba(102,175,233,0.6)

.configuration-form
    max-width: 1000px
    &__sections
        background: #fafafa
        border: 1px solid #e9e9e9
        border-radius: 0 0 3px 3px
        padding: 20px
        & > div
            margin-top: 20px
            padding: 25px
            background: #fff
            border-top: 1px solid #efefef
            box-shadow: 0px 1px 3px 0px rgba(53,77,89,0.3)
        h2
            margin-bottom: 6px
            font-size: 1.3em
            color: #007fd0
            
        h3
            margin-bottom: 4px
            font-size: 13px
        .button--submit
            max-width: 300px
            margin-left: 50%
            margin-right: 50%
            transform: translateX(-50%)
            margin-top: 30px
</style>