<template>
    <table class="table--configuration">
        <slot></slot>
    </table>
</template>

<style lang="sass" scoped>
.table--configuration
    width: 100%
    table-layout: fixed

    td,
    th
        text-align: left
        padding: 12px
        border: solid 1px #eee
    thead
        th
        background: #008cbe
        color: #fff
    tbody
        tr
            background: #fff
        td
        font-size: 13px
    
    button
        background: #efefef
        border: solid 1px #d9d9d9
        border-radius: 4px
        &:hover
            box-shadow: 0 2px 6px 0 rgba(0,0,0,0.16)
</style>