<template>
    <div>
        <nav class="nav">
            <h1 class="company-name">ShipperHQ</h1>

            <a @click.prevent="navigate({ name: 'dashboard' })" :class="{ 'route--active' : route == 'home' }">
                <span>Dashboard</span>
            </a>

            <input type="checkbox" id="configurations-nav" style="display: none">
            <label for="configurations-nav">
                <span>Configurations</span>
                <svg xmlns="http://www.w3.org/2000/svg" width="12.138" height="8.208" viewBox="0 0 12.138 8.208" class="dropdown-arrow">
                    <path id="Polygon_1" data-name="Polygon 1" d="M6,0l6,8H0Z" transform="matrix(-1, 0.017, -0.017, -1, 12.138, 7.999)" fill="#cfcfcf"/>
                </svg>
            </label>

            <div class="secondarynav">
                <a @click.prevent="navigate({ name: 'websites' })" :class="{ 'route--active' : route == 'websites' }">
                    <span>Websites</span>
                </a>
                <a @click.prevent="navigate({ name: 'origins' })" :class="{ 'route--active' : route == 'origins' }">
                    <span>Origins</span>
                </a>
                <a @click.prevent="navigate({ name: 'carriers' })" :class="{ 'route--active' : route == 'carriers' }">
                    <span>Carriers</span>
                </a>
            </div>

            <a @click.prevent="signOut">
                <span>Logout</span>
            </a>
        </nav>
    </div>
</template>

<script>
import { mapGetters, mapActions } from 'vuex'

export default {
    name: "DashboardNavigation",

    data() {
        return {
            route: this.$route.name
        }
    },

    computed: {
        ...mapGetters({
            isAuth: 'auth/isAuth'
        })
    },

    methods: {
        ...mapActions({
            signOutAction: 'auth/signOut'
        }),

        navigate(route) {
            this.$router.push(route).then(() => {
                this.updateCurrentRoute()
            })
        },

        signOut () {
            this.signOutAction().then(() => {
                this.$router.replace({
                    name: 'signin'
                })
            })
        },

        updateCurrentRoute() {
            this.route = this.$route.name
        }
    }

}
</script>

<style lang="sass" scoped>
.nav
    width: 250px
    height: 100%
    background: #333

.route--active
    background: #00a4cb
    color: #fff

a, label
    cursor: pointer
    display: block
    color: #CFCFCF
    text-decoration: none
    width: 100%
    padding: 20px 0
    &:hover:not(.route--active)
        color: #428bca
    & > *
        margin: 0 20px

label
    display: flex
    align-items: center

#configurations-nav:checked
    & ~ label
        .dropdown-arrow
            transform: rotate(180deg)
    & ~ .secondarynav
        display: block

.dropdown-arrow
    margin-left: auto        

.company-name
    padding: 15px 0
    text-align: center
    color: #fff
    font-size: 30px
    background: #191919

.secondarynav
    margin-top: 10px
    background: #4a4a4a
    display: none
    font-size: .9em
    span
        margin-left: 30px
</style>