<template>
    <div class="dashboard-view">
        <transition name="fade" mode="out-in">
            <router-view />
        </transition>
    </div>
</template>

<style lang="sass" scoped>
.dashboard-view
    width: 100%
    margin: 20px
    margin-top: 100px
</style>