<template>
    <ConfigurationTable>
        <thead>
            <tr>
                <th>Name</th>
                <th>Website Attached To</th>
                <th>Active Carriers Attached To</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            <tr v-for="(item, index) in list" :key="index">
                <td>{{ item.name }}</td>
                <td>{{ item.url }}</td>
                <td>Default Origin</td>
                <td>
                    <button @click="redirect({name: 'websites-edit', params: { id: item.id }})">edit</button>
                    <button @click="duplicate(item.id)">duplicate</button>
                    <button @click="destroy(item.id)">delete</button>
                </td>
            </tr>
        </tbody>
    </ConfigurationTable>
</template>

<script>
import { mapActions } from 'vuex'
import ConfigurationTable from '@/components/ConfigurationTable'
export default {
    name: "origins-table",

    data() {
        return {
            list: []
        }
    },

    methods: {
        ...mapActions('crud', [
            'destroy',
            'read'
        ]),

        redirect(route) {
            this.$router.push(route)
        },

        duplicate() {
            this.read('origins').then((data) => {
                this.list = data
            })
        }
    },

    components: {
        ConfigurationTable
    }
}
</script>