<template>
    <div class="page-header">
        <slot></slot>
    </div>
</template>

<script>
export default {
    name: "PageHeader"
}
</script>

<style lang="sass" scoped>
.page-header
    display: flex
    align-items: center

    padding-bottom: 20px
    margin-bottom: 20px
    h1
        font-size: 30px
        margin-right: 20px
</style>