<template>
    <div class="response-container" v-if="msg">
        <span>{{ msg }}</span>
    </div>
</template>

<script>
import { mapGetters } from 'vuex'

export default {
    name: "response-message",

    computed: {
        ...mapGetters({
            msg: 'crud/getResponse'
        })
    }
}
</script>