<template>
    <ConfigurationTable>
        <thead>
            <tr>
                <th>Name</th>
                <th>URL</th>
                <th>Default Origin</th>
                <th>Active Origin</th>
                <th>Action Carriers</th>
                <th>Enabled</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            <tr v-for="(item, index) in list" :key="index">
                <td>{{ item.name }}</td>
                <td>{{ item.url }}</td>
                <td>Default Origin</td>
                <td>Active Origin</td>
                <td>Action Carriers</td>
                <td>Enabled</td>
                <td>
                    <button @click="redirect({name: 'websites-edit', params: { id: item.id }})">edit</button>
                    <button @click="destroy(item.id)">delete</button>
                </td>
            </tr>
        </tbody>
    </ConfigurationTable>
</template>

<script>
import { mapActions } from 'vuex'
import ConfigurationTable from '@/components/ConfigurationTable'

export default {
    name: "websites-table",

    data() {
        return {
            list: []
        }
    },

    methods: {
        ...mapActions('crud', [
            'destroy',
            'read'
        ]),

        redirect(route) {
            this.$router.push(route)
        }
    },

    created() {
        this.read('websites').then((data) => {
            this.list = data
        })
    },

    components: {
        ConfigurationTable
    }
}
</script>