<template>
    <ConfigurationForm>
        <template v-slot:title>
            Website:
        </template>

        <template v-slot:options>
            <div>
                <h2>Website Overview</h2>
                <h3>Information about your website/store.</h3>
                <label>Website URL</label>
                <input type="url" v-model="form.url" required>
                <label>Website Name</label>
                <input type="text" v-model="form.name" required>
                <label>Internal Description</label>
                <textarea v-model="form.description"></textarea>
            </div>
        </template>
    </ConfigurationForm>
</template>

<script>
import { mapActions } from 'vuex'
import ConfigurationForm from '@/components/ConfigurationForm'

export default {
    name: "websites-new-form",

    data() {
        return {
            form: {
                url: "",
                name: "",
                description: ""
            }
        }
    },

    methods: {
        ...mapActions('crud', [
            'store'
        ]),

        async submit() {
            console.log('data', this.form)
            let response = await this.store('websites', this.form)
            console.log(response)
                //     this.$router.replace({
                //         name: 'dashboard'
                //     })
        }
    },

    components: {
        ConfigurationForm
    }
}
</script>